body, html {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  text-align: center;
  background-color: #f8f9fa;
  color: #333;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  padding: 32px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  max-width: 900px;
  width: 100%;
}

h1 {
  text-align: center;
  font-size: 50px;
  color: #333;
  margin-bottom: 20px;
}

canvas {
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 800px;
}

.go-back-link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  text-decoration: none;
  border-radius: 5px;
  margin-top: 20px;
}

.go-back-link:hover {
  background-color: #0056b3;
}

#go-back-link {
  text-decoration: none;
  color: #fff;
  font-family: 'Courier New', Courier, monospace;
}

.button {
  display: inline-block;
  padding: 10px 20px;
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
  font-weight: bold;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;
}

.button:hover {
  background-color: #5f779e;
}